<app-header></app-header> 
            <!-- <div class="container" >
                <div class="row">
                    <div class="col-6 text-center link-wrapper" routerLinkActive="active-div" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="link-item" [routerLink]="['/invitation']" routerLinkActive="active-link">
                            Invitation
                        </a>
                    </div>
                    <div class="col-6 text-center link-wrapper" routerLinkActive="active-div" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="link-item" [routerLink]="['/transaction']" routerLinkActive="active-link">
                            Transaction
                        </a>
                    </div>
                    <div class="col-4 text-center link-wrapper" routerLinkActive="active-div" [routerLinkActiveOptions]="{ exact: true }">
                        <a class="link-item" [routerLink]="['/survey-adhoc']" routerLinkActive="active-link">
                            ADHOC Survey
                        </a>
                    </div>
                </div>
            </div> -->
<router-outlet></router-outlet>
